.App {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1506703719100-a0f3a48c0f86?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2d8d433acb5dbf4d2478af28854ff90a&w=1000&q=80");
  background-size: cover;
  justify-content: center;
  background-repeat: round;
}

.App-header {
  background-position: center;
  background-color: transparent;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  color: white;
  text-decoration: line-through;

}
.square {
  height: 150px;
  width: 150px;
  color: white;
  font-size: 100px;
  background-color: transparent;
}

.the-board {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 30px;
  height: 450px;
  width: 450px;
}

.Board-container {
  width: 100vw;
  height: 100vh;
  align-items: center;
  padding-top: 50px;
}

.resetButton {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding-top: 20px;
}

.reset {
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-family: monospace;
  background-color: transparent;
  color: white;
}

.status {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 10px 10px 10px 10px;
  max-width: 200px;
  color: white;
  font-family: monospace;
  font-size: 20px;
  border: 1px solid white;
}



.Emoji-Container-1 {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-right: 50px;

}
.Emoji-Container-2{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-left: 50px
}
